* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-areas:
        "navbar"
        "filter"
        "main"
        "footer";
    grid-template-rows: 50px 50px 1fr 50px;
    width: auto;
    height: 100vh;
}

.nav-section {
    grid-area: navbar;
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    padding: 10px;
}

.nav-section .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.nav-section img {
    width: 30px;
}


.filters-section {
    grid-area: filter;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.filters-section select {
    width: 200px;
    height: 50px;
}

.main-section {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.main-section .card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 5px;
    gap: 10px;
    border-radius: 5px;
}

.main-section .card-container .card img {
    width: 150px;
}

.main-section .card-container .card button {
    background-color: blue;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.main-section .navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
}

.foot-section {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    background-color: aqua;
}