* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;

    grid-template-areas:
        "navbar"
        "filter"
        "main"
        "footer";
    grid-template-rows: 50px 50px 1fr 50px;
    width: auto;
    height: 100vh;
}

.nav-section {
    grid-area: navbar;
    display: flex;
    background-color: rgb(196, 204, 204);
    justify-content: space-between;

}

.filters-section {
    grid-area: filter;
}

.main-section {
    grid-area: main;
}

.foot-section {
    grid-area: footer;
}