nav {
    padding: 10px;
    grid-area: menu;
    background: #0037a1;
    color: rgb(221, 208, 32);
}

main {
    grid-area: seccion-principal;
    padding: 10px;
}

footer {
    grid-area: pie-de-pagina;
    background: #d4cecd;
    color: rgb(219, 15, 15);
    padding: 10px;
}

section {
    grid-area: seccion;
    background-color: rgb(86, 153, 153);
    padding: 10px;
    color: rgb(26, 24, 24);

}

div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "menu"
        "seccion-principal"
        "pie-de-pagina"
        "seccion";
}

@media (min-width: 992px) {
    div {
        grid-template-areas:
            "menu seccion-principal"
            "menu seccion-principal"
            "menu pie-de-pagina"
            "seccion seccion";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 2fr 1fr;
    }
}